*{
  box-sizing: border-box;
}
.container{
  width: 1340px;
  margin: 0 auto;
}

body{
  font-family: 'Roboto', sans-serif;
}

header{
  background: #FFFFFF;
  
  display: flex;
  justify-content: space-between;
}
main{
  background: #FFFFFF;
}
.head-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header2{
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #373737;
}
.univer-bgc{
  background:#FAFAFA;
}
.univer-title{
  margin: 0;
  margin-bottom: 30px;
}
.univer{
  padding-bottom: 20px;
  text-align: center;
  color: #373737;
}
.univer-2{
  padding: 0px 10px;
  justify-content: space-between;
  display: flex;
}
.oval{
  display: flex;
  margin-left: 600px;
  margin-top: 30px;
  padding-bottom: 20px;
}

.over-btn:hover{
  border: 3px solid #717CFF;
  background: #717CFF;
}

.over-btn{
  border: 5px solid rgba(124, 124, 124, 0.318837);
  height: 10px;
  width: 10px;
  background: rgba(124, 124, 124, 0.318837);
  border-radius: 50%;
  margin-left: 20px;
}

.Our{
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
  margin-top: 297px;
}
.Our-p{
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  color: #7D7D7D;
  margin-bottom: 110px;
  margin-top: 25px;
}
.learn{
  padding-bottom: 20px;
  padding-right: 108px;
  font-weight: bold;
  color: #717CFF;
  text-decoration: none;
}
.learn-p{
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.444444px;
  color: rgba(55, 71, 79, 0.721569);
}

body{
  background: #FFFFFF;
  font-family: 'Rubik', sans-serif;
}
ul,li{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}

  .ortasi{  
    display: flex;  
    justify-content: space-between;
  }
  .head{
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 66px;
    color: #2F2F2F;
    margin-top: 50px;
    width: 330px;
  }
  .head2{
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
    padding-bottom: 30px;
    width: 650px;
  }
  .social{
    display: flex;
    justify-content: space-between;
  }
  .icon-item{
    display: flex;
    margin-top: 90px;
    align-items: center;
  }
  .icon{
    display: flex;
    margin-top: 210px;
    align-items: center;
    
  }
  .bxl-facebook-circle{
    width: 13px;
    height: 21px;
  }
  .apply{
    text-decoration: none;
    border: 2px solid #717CFF;
    border-radius: 11px;
    padding: 5px 32px 25px 32px;
    height: 20px;
    color: #505050;
    
  }
  .site-image{
    width: 530px;
    height: 565px;
    overflow: hidden;  }
    .apply-online{
      text-decoration: none;
      border: 2px solid #717CFF;
      border-radius: 11px;
      padding: 9px 32px 13px 35px;
      color: #FFFFFF;
      background: #717CFF;
      display: flex;
      display: inline-block;
      
    }
    .bx.bx-right-arrow-alt
    {    color: #37474F;
      margin-left: 30px;
    }
    .logo{
      padding-top: 10px;
      padding-bottom: 100px;
      padding-left: 143px;
      
    }
    .build{
      color: #717CFF;
    }
    .career{
      margin-top: 50px;
      margin-left: 100px;
      box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
      
      padding: 20px;
      border-radius: 15px;
      border: 0 solid;
    }
    .icon-facebook{
      margin-right: 25px;
    }
    .icon-twitter{
      margin-right: 25px;
    }
    .iconlar{
      font-weight: bold;
      font-size: 24px;
      line-height: 37px;
      color: #37474F;
    }
    .icon-flex{
      display: flex;
      justify-content: space-between;
      padding-bottom: 50px;
      background: #FFFFFF;
    }
    .icon-flex-2{
      background: #FFFFFF;
      display: flex;
      padding: 0 50px;
      margin-bottom: 228px;
      margin-left: 120px;
    } 
    .news-photo-size{
      border-radius:30px ;
      background: #FFFFFF;
      border: 0 solid;
      margin: 50px 50px;
      padding: 10px;
      box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    }
    .news-bgc{
      background: #FAFAFA;
      
    }
    
    .news-size{
      height: 1000px;
    }
    .news{
      font-size: 37px;
      line-height: 54px;
      text-align: center;
      color: #373737;
      margin-bottom: 25px;
    }
    .news-p{
      font-weight: 500;
      font-size: 22px;
      line-height: 38px;
      text-align: center;
      color: #7D7D7D;
      margin-bottom: 119px;
    }
    .news-flex{
      display: flex;
      justify-content: space-between;
    }
    .join-again{
      text-decoration: none;
      border: 2px solid #717CFF;
      border-radius: 11px;
      padding: 9px 32px 13px 35px;
      height: 20px;
      color: #FFFFFF;
      background: #717CFF;
      text-align: center;
    }
    .join{
      text-align: center;
      margin-top: 146px;
      margin-bottom: 222px;
    }
    .events{
      font-size: 37px;
      line-height: 54px;
      text-align: center;
      letter-spacing: -0.4625px;
      color: #373737;
      margin-bottom: 25px;
    }
    .events-p{
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.444444px;
      color: rgba(55, 71, 79, 0.721569);
      padding-bottom: 50px;
    }
    .events-flex{
      display: flex;
      justify-content: space-between;
      border: 0 solid;
      border-radius: 10px;
      
    }
    .dec-size{
      border:0 solid #FFFFFF;
      border-radius: 15px;
      background-color: #FFFFFF;
      margin: 10px;
    }
    .dec-photo{
      padding-top: 10px;
      padding-right: 65px;
    }
    .dec-size-2{
      display: flex;
      justify-content: space-between;
    }
    .dec-size-3{
      padding: 20px;
      box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
      border-radius: 15px;
    }
    .countries-bgc{
      background: #FAFAFA;
      height: 700px;
    }
    .Countries{
      font-size: 37px;
      line-height: 54px;
      text-align: center;
      letter-spacing: -0.4625px;
      color: #373737;
    }
    .Countries-p{
      font-weight: 500;
      font-size: 22px;
      line-height: 38px;
      text-align: center;
      color: #7D7D7D;
    }
    .Countries-flex{
      display: flex;
      justify-content: space-between;
      
    }
    .Testimonial{
      font-size: 37px;
      line-height: 54px;
      text-align: center;
      letter-spacing: -0.4625px;
      color: #373737;
    }
    .Testimonial-p{
      font-weight: 500;
      font-size: 22px;
      line-height: 38px;
      text-align: center;
      color: #7D7D7D;
    }
    .Harrison{
      font-weight: 900;
      font-size: 22px;
      line-height: 26px;
      color: #37474F;
    }
    .Harrison-p{
      font-weight: 500;
      font-size: 18px;
      line-height: 31px;
      color: rgba(55, 71, 79, 0.721569);
    }
    .Harrison-flex{
      display: flex;
      justify-content: space-between;
      margin-bottom: 196px;
    }
    .Ready{
      font-size: 37px;
      line-height: 43px;  
      color: #252525;
      
    }
    .apply-online-2{
      text-decoration: none;
      border: 2px solid #717CFF;
      border-radius: 11px;
      padding: 9px 32px 13px 35px;
      color: #FFFFFF;
      background: #717CFF;
      margin-top: 40px;
    }
    .apply-online-3{
      text-decoration: none;
      border: 2px solid #717CFF;
      border-radius: 11px;
      padding: 9px 32px 13px 35px;
      color: #FFFFFF;
      background: #717CFF;
      margin-top: 82px;}
      footer{
        
        background: #717CFF;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: #EEEEEE;
        padding: 20px 40px;}
        .footer-flex{
          display: flex;
          justify-content: space-between;
        }
        .info-follow-bgc{
          background: #FAFAFA;
        }
        .info-follow{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .royal{
          width: 350px;
          font-weight: 500;
          font-size: 18px;
          line-height: 49px;
          color: #EEEEEE;
        }
        .royal-item{
          margin-right: 130px;
        }
        .royal-info{
          width: 230px;
        }
        
        